<div class="container">
  <h1>Stupid coaching, the best tool ever !</h1>
  <%= image_tag "mothafucka.jpg"%>
  <p>Ask me anything bro and I will help you!</p>
  <form class="form" action="/answer" method="get">
    <input class="input" type="text" name="question">
    <input class="form-button" type="submit" value="Ask!">
  </form>
</div>
